v/* UserList.css */

.container {
   
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.title {
    margin-bottom: 16px;
    font-weight: bold;
    color: #003366;
}

.table-header {
    background-color: #156272;
}

.table-header th {
    color: #fff;
    font-weight: bold;
    padding: 8px;
}

.table-cell {
    padding: 8px!important;
}
/* Navbar.css */
.nav-links {
    display: flex;
   border-radius: 5px;
    font-size: 1rem;
    border:1px solid #dcdcdc;
    /* padding:3px; */
    /* background-color: #dcdcdc !important; */
    color: #666666 !important;
  }
  .tab-links {
    display: flex;
   border-radius: 5px;
    font-size: 1rem;
    border:1px solid #dcdcdc;
    /* padding:3px; */
    /* background-color: #dcdcdc !important; */
    color: #666666 !important;
  }
  
  .nav-link {
    text-decoration: none;
    color: #555; /* Inactive color */
    font-weight: 500;
    padding: 5px 12px; /* Adds some padding */
    margin-bottom: 0px!important;
    transition: all 0.3s ease;
  }
  .tab-link {
    text-decoration: none;
    color: #555; /* Inactive color */
    font-weight: 500;
    padding: 5px 12px; /* Adds some padding */
    margin-bottom: 0px!important;
    transition: all 0.3s ease;
  }
  .nav-link:hover {
    color: #005b96; /* Hover effect */
  }
  .tab-link:hover {
    color: #005b96; /* Hover effect */
  }
  
 
  .nav-link.active {
    color: #388e3c; 
    font-weight: 600;
    /* border-radius: 3px; */
    background-color: #d1e0d9; 
    /* border:1px solid #388e3c; */
   }
   .tab-link.active {
    color: #388e3c!important; 
    font-weight: 600;
    /* border-radius: 3px; */
    background-color: #d1e0d9!important; 
    /* border:1px solid #388e3c; */
   }

   /* UserList.css */

/* Parent Container */
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
  
  /* Tabs Styling */
  /* .tabs {
    border: 1px solid #969696;
    border-radius: 3px;
  
  } */
  
  /* .tab {
    font-size: 14px;
    padding: 5px 10px; 
    color: black; min-height: 22px;
    border:1px solid red;
  } */
  
  .tab.Mui-selected {
    
    color: #fff!important; 
  }
  /* .tab.MuiTab{
    border:1px solid red;
  } */
  
  /* Search Bar & Button Container */
  .search-add-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Search Bar */
  .search-bar {
    width: 50%!important; 
  }
  
  /* Create User Button */
  .add-button {
    white-space: nowrap;
  }
  
  .MuiTabs-indicator{
   height:0px!important;visibility:hidden!important;
  }

  .MuiTableCell-root {
    padding: 9px 8px !important;
     color:#000000a1;font-size: 12px !important;
  } 
   .MuiTableRow-root {
    padding: 9px 8px !important;color:#000000a1!important;font-size: 12px !important;
   
  } 

  .MuiTableCell-body{
    color: #000000a1 !important;
    font-size: 12px!important;
}

.MuiTab-root.Mui-selected {
    background-color: #EDF4FD !important;
    color: #0c6bcf !important;
    font-weight: 700 !important;border:1px solid #EDF4FD;
}
.MuiTab-root{
    background-color: #dcdcdc !important;
    color: #666666 !important;
    font-weight: 500 !important;border:1px solid #dcdcdc;padding:5px 10px!important; min-height:30px!important;
}
.MuiTabs-root{
 min-height:36px!important;height: 36px!important;
}
/* .MuiButtonBase-root{
  min-height: 39px!important;
 
} */